# Ignorar el entorno virtual
.venv/

# Ignorar archivos y carpetas temporales de Python
pycache/
*.pyc

# Ignorar base de datos local
db.sqlite3

# Ignorar variables de entorno (con claves, tokens, etc.)
.env